<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>70223536860-bsl385v0bgd52cm6jpcn2hckr5ktl9ss.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.70223536860-bsl385v0bgd52cm6jpcn2hckr5ktl9ss</string>
	<key>API_KEY</key>
	<string>AIzaSyCO_ka7VviYGNt5KGGNEHgUbIcotAc31kE</string>
	<key>GCM_SENDER_ID</key>
	<string>70223536860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eCommerce.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-87fc8</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-87fc8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:70223536860:ios:6a8b3c5a47d7f0e8768a19</string>
</dict>
</plist>